extends ./base.pug

block title
  title List of account related to link

block content
  .container.mt-4
    .row.justify-content-center
      .col-lg-10
        .card.shadow-lg
          .card-header.bg-primary.text-white.text-center
            h3.mb-0 List of account related to link
          .card-body
            //- if battles && battles.fcBattles.length > 0
            //-   h4.mb-4 Finished Battles
            //-   table.table.table-bordered.table-hover.text-center
            //-     thead
            //-       tr(style="background-color: #f8f9fa;")
            //-         th Opponent
            //-         th Type
            //-         th League
            //-         th Ranked
            //-         th Result
            //-         th Arena
            //-         th Date
            //-         th Replay
            //-     tbody
            //-       each battle in battles.fcBattles
            //-         - var player1Latest = battle.player1Data.length ? battle.player1Data[battle.player1Data.length - 1] : null;
            //-         - var player2Latest = battle.player2Data.length ? battle.player2Data[battle.player2Data.length - 1] : null;
            //-         - var player = (player1Latest.player === isLoggedIn.username) ? player1Latest : player2Latest;
            //-         - var opponent = (player1Latest.player === isLoggedIn.username) ? player2Latest : player1Latest;
            //-         - var bgColor = (player.fightStatus === "Victory") ? "#6fed84" : "#e56b6b";
            //-         tr(style=`background-color: ${bgColor}`)
            //-           td= opponent.player
            //-           td= battle.type
            //-           td= formatLeagueName(battle.league)
            //-           td= battle.ranked ? "Yes" : "No"
            //-           td= player.fightStatus
            //-           td= battle.arena.toUpperCase()
            //-           td= battle.createdAt.toDateString()
            //-           td
            //-             a.btn.btn-warning(href="/battle/fight/" + battle.hash + "/replay") REPLAY!
            //- else
            //-   h4.alert.alert-info.mt-4 No finished battles found.