doctype html
html(lang="en")
  include ../partials/_header
  head
    block title
    title Belvo Demo
    //- Add any global head content here
  body
    include ../partials/_navbar
    .main-content
      block content