extends base.pug

block title
  title Welcome!

block content
  .container.mt-4
    .jumbotron
      h3.display-4 This purpose of this project is to implement the OFDA Belvo API for a demosntration to a potential client. 

